<div class="margem35">
  <div class="container">
    <h1>Aniversariantes</h1>
    <h2>Mês: {{ _filtrarData }}</h2>

    <div class="margin15">
      <div
        class="
          form-group
          row
          justify-content-left
          align-items-center
          d-print-none
          m
        "
      >

        <div class="col-sm-5">
          <input [(ngModel)]="filtrarNome" class="form-control" placeholder="Filtro por nome"/>
        </div>

        <label class="col-sm-1 text-center">ou</label>
        <div class="col-sm-6">
          <input [(ngModel)]="filtrarData" class="form-control" placeholder="Filtro por mês"/>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Dia do Aniversário</th>
          <!-- <th class="text-center d-print-none">Opção</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aniversariante of aniversariantesFiltrados">
          <td>{{ aniversariante.nome }}</td>
          <td>{{ aniversariante.cargo }}</td>
          <td>{{ aniversariante.diaAniversario }}</td>
          <!-- <td class="d-print-none">
            <a [routerLink]="['/aniversario/edicao', aniversariante.id]" class="btn btn-info btn-sm mr-2">Editar</a
            >
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
