.margem35 {
  margin-top: 35px;

}
label {
  font-size: 18px;
  font-weight: 600;
}
h1 {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 3px;

}
td {
  font-size: 20px;
  height: 70px;
  vertical-align: middle;


}
input {
  font-size: 20px;
}

th {
  font-size: 20px;
}
.marginBotton{
  margin-bottom: 30px;
}
table{
  margin-top: 30px;
}
h2 {
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 40px;
}
.texto-align-right {
  text-align: right;
}

